{% block content %}
{% load staticfiles %}

<section>
  <div style="background-color: white">
    <section class="resume-section p-3 p-lg-5 flex-column" id="projects">
      <h2 style="color: black">Add Schedule</h2>
	<div class="my-auto">
        <div class="col-sm-12 form-row field-desc">
        	<form id="form" method="POST" action="{% url 'jasmine:schedule_post' %}">
	        	{% csrf_token %}
	          {{ form }}

	        	<input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
       		</form>
        </div>
    </div>
</section>

{% endblock %}
