{% extends 'navbar.html' %}
{% load static %}

{% block content %}
	<div class="bg1" style="height: 100%">
		<form>
			<div class="form-group">
			    <div class="col">
			    	<label for="exampleInputName">Your name</label>
			      <input type="text" class="form-control" placeholder="Your Name">
			    </div>
		    </div>
		    <div class="form-group">
			    <div class="col">
			    	<label for="InputDate">Your birth date</label>
			      <input type="date" class="form-control" id="inputdate">
			    </div>
		    </div>
		    <div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="exampleInputUsername">Username</label>
				<input type="Username" class="form-control" id="exampleInputUsername" placeholder="Username">
			</div>
			 <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			 </div>
			 <div class="form-group">
			    <label for="exampleInputPassword1">Confirmation Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			 </div>
			  <div class="form-group form-check">
			    <input type="checkbox" class="form-check-input" id="exampleCheck1">
			    <label class="form-check-label" for="exampleCheck1">Check me out</label>
			  </div>
			  
			  <a href="{% url 'jasmine:welcomepage' %}">
			  <button type="button" class="btn btn-outline-success">Submit</button></a>
			  <br>
	</div>
{% endblock%}