    {% extends 'navbar.html' %}

    
    {% block content %}
    {% load static %}
    <h1>My Schedules</h1>
    <!--  Populate semua isi pesan dari model -->
    <table class="table">
        <thead>
            <th>Tempat</th>
            <th>Nama Kegiatan</th>
            <th>Kategori</th>
            <th>Tanggal</th>
            <th>Pukul</th>

        </thead>
        <tbody>
            <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
            {% for i in schedules %}
           
                <td> {{i.place}} </td>
                <td> {{i.event}} </td>
                <td> {{i.category}} </td>
                <td>{{i.date}}</td>
                <td>{{i.time}}</td>

            </tr>             
            {% endfor %}
        </tbody>
    </table>
    <br>
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'jasmine:deleteJadwal' %}'">Delete Schedules</button>

    {% endblock %}
